{% load static %}

<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('{% static 'img/registration.jpg' %}'); background-size: cover; background-position: center;">
    <div class="row container m-auto py-5 my-5">
        <!-- Left Side: Content -->
        <div class="col-md-7 mt-5">
            <h4 class="text-danger">NEED ANY COURSE</h4>
            <h1 class="text-white fw-bolder my-2">
                30% Off For New Students
            </h1>
            <p class="text-white fs-5 lh-lg my-4">
                Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo.
            </p>
            <ul>
                <li class="text-white my-2">Labore eos amet dolor amet diam</li>
                <li class="text-white my-2">Etsea et sit dolor amet ipsum</li>
                <li class="text-white my-2">Diam dolor diam elitripsum vero.</li>
            </ul>
            <button class="btn btn-danger m-4">Apply Now</button>
        </div>

        <!-- Right Side: Form -->
        <div class="col-md-5 mt-5">
            <form method="POST" class="bg-white rounded-4">
                {% csrf_token %}
                <h1 class="py-3 fw-bolder text-center">Sign Up Now</h1>
                <div class="mb-3 bg-danger container p-5 rounded-4 rounded-top-0">
                    <input type="text" name="name" class="form-control mb-3 p-2 ps-3" placeholder="Enter Name" required>
                    <input type="email" name="email" class="form-control mb-3 p-2 ps-3" placeholder="Enter Email" required>
                    
                    <div class="mb-3">
                        <select name="city" class="form-select form-select-lg">
                            <option selected disabled>Select one</option>
                            <option value="New Delhi">New Delhi</option>
                            <option value="Istanbul">Istanbul</option>
                            <option value="Jakarta">Jakarta</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-dark w-100 py-3">Sign Up Now</button>
                </div>
            </form>
        </div>
    </div>
</div>